<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular + Grails</a>
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a aria-expanded="false" class="nav-link dropdown-toggle" ngbDropdownToggle
             role="button">
            Productos
          </a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="administrar-productos">Administrar productos</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem routerLink="productos">Listar productos</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem routerLink="agregar-producto">Agregar producto</button>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a aria-expanded="false" class="nav-link dropdown-toggle" ngbDropdownToggle
             role="button">
            Customer
          </a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="administrar-productos">Administrar Customer</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem routerLink="customers">Listar Customer</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem routerLink="agregar-producto">Agregar Customer</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-link px-3 me-2" type="button">
        Login
      </button>
      <button class="btn btn-primary me-3" type="button">
        Registrate
      </button>
    </div>
  </div>
</nav>
